@{
    var building = ViewBag.Building?.ToString()?.ToLower() ?? "new";
    var floor = (int)ViewBag.Floor;

    var floors = building == "old"
    ? new[] { 1, 2, 3, 4, 5, 6 }
    : Enumerable.Range(1, 9).ToArray();


    var svgPath = $"/Maps/{building}/{floor}.svg";

    var targetBuilding = building == "new"
        ? "old"
        : "new";
}

<div class="map-page">
    <div class="map-wrapper">
        <div id="mapContainer"
             class="map-container"
             data-building="@building"
             data-floor="@floor"
             data-svg="@svgPath">
        </div>
    </div>

    <div class="room-panel">
        <h3 id="roomTitle">Выберите объект на карте</h3>
        <p id="roomType"></p>
        <p id="roomDescription">Нажмите на аудиторию или другой объект.</p>
    </div>

    <div id="panoramaModal" class="panorama-modal hidden">
        <div class="panorama-window">
            <button id="closePanoramaBtn" class="panorama-close">×</button>

            <div class="panorama-header">
                <h3 id="panoramaTitle">Панорама</h3>
                <p id="panoramaDescription"></p>
            </div>

            <div id="panoramaViewer" class="panorama-viewer"></div>
        </div>
    </div>

    <div class="building-switcher">
        <a href="@Url.Action("Maps", "Maps", new { building = targetBuilding, floor = 1 })"
           class="building-btn">
            Сменить корпус
        </a>
    </div>

    <div class="floor-switcher">
        @foreach (var i in floors)
        {
            <a href="@Url.Action("Maps", "Maps", new { building = building, floor = i })"
               class="floor-btn @(i == floor ? "active" : "")">

                @(building == "old" && i == 3 ? "2.5" : (building == "old" && i > 3 ? i - 1 : i.ToString()))

            </a>
        }
    </div>

    <div class="map-zoom-controls">
        <button type="button" id="zoomInBtn" class="zoom-btn zoom-in">+</button>
        <button type="button" id="zoomOutBtn" class="zoom-btn zoom-out">−</button>
    </div>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pannellum/build/pannellum.css">
    <script src="https://cdn.jsdelivr.net/npm/pannellum/build/pannellum.js"></script>

    <script src="~/js/panorama.js"></script>
</div>

<script src="~/js/maps.js"></script>
